<h2>Users list</h2>

<div class="row justify-content-center mt-5">
{% if users %}
    <ul class="list-group indigo-text col-3 pr-0">
        {% for user in users %}
            <li><a href="/user/{{ user.id }}" class="list-group-item list-group-item-action">{{ user.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <div> List is Empty.</div>
{% endif %}
</div>
