<div class="row justify-content-center mt-5">
    <div class="card col-5 px-0">
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="/login" method="post">
                <div class="md-form">
                    <input type="text" id="login" name="login" class="form-control">
                    <label for="login">Telephone</label>
                </div>

                <div class="md-form">
                    <input type="password" id="password" name="password" class="form-control">
                    <label for="password">Password</label>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
                    Login
                </button>

                <!-- Register -->
                <p>Not a member?
                    <a href="/register">Register</a>
                </p>
            </form>
            <!-- Form -->

        </div>
    </div>
</div>