<div class="row justify-content-center mt-5">
    <div class="card col-5 px-0">
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="{{ action }}" method="post">

                <div class="md-form">
                    <input type="text" id="name" name="name" value="{{ user.name }}" class="form-control">
                    <label for="name">Your name</label>
                </div>

                <div class="md-form">
                    <input type="text" id="surname" name="surname" value="{{ user.surname }}" class="form-control">
                    <label for="surname">Your surname</label>
                </div>

                <div class="md-form">
                    <input type="text" id="telephone" name="telephone" value="{{ user.telephone }}" class="form-control">
                    <label for="telephone">Your telephone</label>
                </div>


                <div class="md-form">
                    <input type="password" id="password" name="password" value="" class="form-control">
                    <label for="password">Your password</label>
                </div>

                <div class="md-form">
                    <input type="text" id="address" name="address" value="{{ user.address }}" class="form-control">
                    <label for="address">Your address</label>
                </div>

                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
                    Edit
                </button>

                <p class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0">
                    <a href="/user/{{ user.id }}/delete" style="color: red">Delete</a>
                </p>
            </form>
            <!-- Form -->
        </div>
    </div>
</div>
