<div class="row justify-content-center mt-5">
    <div class="card col-5 px-0">
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="/register" method="post">

                <div class="md-form">
                    <input type="text" id="name" name="name" class="form-control">
                    <label for="name">Your name</label>
                </div>

                <div class="md-form">
                    <input type="text" id="surname" name="surname" class="form-control">
                    <label for="surname">Your surname</label>
                </div>

                <div class="md-form">
                    <input type="text" id="telephone" name="telephone" class="form-control">
                    <label for="telephone">Your telephone</label>
                </div>


                <div class="md-form">
                    <input type="password" id="password" name="password" class="form-control">
                    <label for="password">Your password</label>
                </div>

                <div class="md-form">
                    <input type="text" id="address" name="address" class="form-control">
                    <label for="address">Your address</label>
                </div>

                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
                    Register
                </button>

                <p>Already a member?
                    <a href="/login">Login</a>
                </p>
            </form>
            <!-- Form -->
        </div>
    </div>
</div>
