<div class="row justify-content-center">
    <div class="col-5 px-0">
        <div class="card-body">
            <dl class=" row my-0">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">{{ user.name }}</dd>

                <dt class="col-sm-3">Surname</dt>
                <dd class="col-sm-9">{{ user.surname }}</dd>

                <dt class="col-sm-3">Phone</dt>
                <dd class="col-sm-9">{{ user.telephone }}</dd>

                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-9">{{ user.address }}</dd>
            </dl>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <a href="/user/{{ user.id }}/edit" class="btn btn-primary">Edit</a>
    <a href="/user/{{ user.id }}/delete" class="btn btn-danger">Delete</a>
</div>
